/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "AtlasGrotesk", "Open Sans", sans-serif;
	font-size: 13px;
	height: 100%;
	width: 100%;
}

h2 {
	font-family: "SharpGroteskWide", "Open Sans",sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin: 2em auto;
	width: 585px;
}

h4 {
	font-size: 20px;
	font-weight: 400;
	width: 585px;
	margin: 2em auto;
}
.content-plank {
	margin: 50px 0 0 0;
}
p {
	width: 585px;
	margin: 1em auto 1em auto;
	object-position: center;
	font-size: 18px;
	font-weight: 400px;
	line-height: 1.555;
}
content-plank p {
	margin: 0 auto 1em auto;
}


nav {
	width: 100%;
	height: 78px;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #fbfbfc;
	background-color: #fff;
	margin-bottom: 50px;
	padding: 0;
	z-index: 1;
}

nav a {
	float: right;
	margin-top: 32px;
	margin-left: 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: black;
}
nav a:hover {
	text-decoration: underline;
}
nav .button  {
	color: #fff;
	margin-top: 22px;
	margin-right: 6px;
	padding: 10px;
	background-color: #0062ff;
}
nav .button:hover {
	background-color: #3b85ff;
	text-decoration: none;
}
.nav-bar-logo a {
	float: left;
	display: inline;
	margin: auto 10px;
	padding: 20px 18px;
}
.nav-bar-logo img {
	margin: 0;
}
nav .arbor-logo__glyph {
	width: 32px;
	height: 36px;
}
nav .arbor-logo__logotype.arbor-logo__logotype--dropbox {
	width: 117px;
	height: 31.03px;
	padding-left: 5px;
} 

.main-content {
	width: 800px;
	margin: 180px auto 0 auto;
}

.image-plank {
	margin: 50px auto 0 auto;
	width: 800px;
}
.content-plank {
	margin: 50px auto 0 auto;
	width: 585px;
	height: auto;

}
.gallery-plank {
	width: 950px;
	height: 300px;
	display: inline-block;
	margin: 50px auto 0 auto;
	float: left;
}

}
.gallery-plank__image {
	display: inline-grid;
	margin: 0 2em;
}
.gallery-plank .desc {
	text-align: center;
	margin: 1.5em auto;
	font-size: 16px;
	font-weight: 300;

}	

.icon-gallery-plank {
	width: 845px;
	height: 340px;
	display: inline-block;
	margin: 80px auto 0 auto;
	padding-bottom: 160px;
	border-bottom: solid 1px #E6E8EB;
}
.icon-gallery-image {
	display: inline-grid;
	margin: 25px auto;
	width: 33%;
	height: auto;
}
.icon-gallery-image img {
	margin: 0 auto;
}

.icon-gallery-row .desc {
	text-align: center;
	width: 100%;
	margin: 25px auto;
	font-size: 16px;
	line-height: 1.65;
	font-weight: 300;
	color: #637282;
}

.footer {
	height: 600px;
	width: 100%;
	background-color: #000;
	color: #FFF;
	display: block;
	margin: 0;
}
.link-list {
	height: 273px;
	width: 80%;
	padding: 60px 100px 100px 100px;
	border-bottom: 1px solid #FFF;	
	float: left;
}
.link-list-column {
	display: inline-block;
	float: left;
	width: 16%;
	padding: 1%;
	margin-left: 10px;
	margin-bottom: 20px;
}
.link-list-column li {
	margin: 15px 0;
}
.footer h3 {
	font-size: 1.5em;
	margin: 30px 0;
}

